In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext

In [2]:
sc = SparkContext(master= 'local[*]')

In [3]:
spark = SparkSession.builder.appName('ML with pyspark').getOrCreate()

cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()

In [4]:
print(f'You are working with {cores} cores')
spark

You are working with 1 cores

In [5]:
df = spark.read.csv('./data/hcvdata.csv')

In [6]:
df.show(5)

+----+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
| _c0|          _c1|_c2|_c3| _c4| _c5| _c6| _c7| _c8|  _c9|_c10|_c11|_c12|_c13|
+----+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
|null|     Category|Age|Sex| ALB| ALP| ALT| AST| BIL|  CHE|CHOL|CREA| GGT|PROT|
|   1|0=Blood Donor| 32|  m|38.5|52.5| 7.7|22.1| 7.5| 6.93|3.23| 106|12.1|  69|
|   2|0=Blood Donor| 32|  m|38.5|70.3|  18|24.7| 3.9|11.17| 4.8|  74|15.6|76.5|
|   3|0=Blood Donor| 32|  m|46.9|74.7|36.2|52.6| 6.1| 8.84| 5.2|  86|33.2|79.3|
|   4|0=Blood Donor| 32|  m|43.2|  52|30.6|22.6|18.9| 7.33|4.74|  80|33.8|75.7|
+----+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
only showing top 5 rows

In [7]:
df = spark.read.csv('./data/hcvdata.csv', header= True, inferSchema= True)
df.limit(5).toPandas()

,_c0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69
1,2,0=Blood Donor,32,m,38.5,70.3,18,24.7,3.9,11.17,4.8,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.2,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [8]:
df.first()

Row(_c0=1, Category='0=Blood Donor', Age=32, Sex='m', ALB='38.5', ALP='52.5', ALT='7.7', AST=22.1, BIL=7.5, CHE=6.93, CHOL='3.23', CREA=106.0, GGT=12.1, PROT='69')

In [9]:
df.columns

['_c0',
 'Category',
 'Age',
 'Sex',
 'ALB',
 'ALP',
 'ALT',
 'AST',
 'BIL',
 'CHE',
 'CHOL',
 'CREA',
 'GGT',
 'PROT']

In [10]:
df.dtypes

[('_c0', 'int'),
 ('Category', 'string'),
 ('Age', 'int'),
 ('Sex', 'string'),
 ('ALB', 'string'),
 ('ALP', 'string'),
 ('ALT', 'string'),
 ('AST', 'double'),
 ('BIL', 'double'),
 ('CHE', 'double'),
 ('CHOL', 'string'),
 ('CREA', 'double'),
 ('GGT', 'double'),
 ('PROT', 'string')]

In [11]:
df.count() # gives the nb of row

615

In [12]:
len(df.columns) # gives the nb of column

14

In [13]:
print((df.count(), len(df.columns)))

(615, 14)

In [14]:
df.describe().show()

+-------+------------------+-------------+------------------+----+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+
|summary|               _c0|     Category|               Age| Sex|              ALB|               ALP|               ALT|              AST|               BIL|               CHE|              CHOL|             CREA|              GGT|             PROT|
+-------+------------------+-------------+------------------+----+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+
|  count|               615|          615|               615| 615|              615|               615|               615|              615|               615|               615|               615|              615|              615|              615|
|   mean|             308.0|         null| 47.40813008130081|null|41.62019543973941| 68.28391959798999| 28.45081433224754|34.78634146341462|11.396747967479675| 8.196634146341458| 5.368099173553719|81.28780487804877|39.53317073170732|72.04413680781768|
| stddev|177.67948671695333|         null|10.055105445519239|null|5.780629404103076|26.028315300123676|25.469688813870942|33.09069033855156|19.673149805846588|2.2056572704292927|1.1327284311597354|49.75616601234976|54.66107123891245|5.402635737104955|
|    min|                 1|0=Blood Donor|                19|   f|             14.9|             100.4|               0.9|             10.6|               0.8|              1.42|              1.43|              8.0|              4.5|             44.8|
|    max|               615|  3=Cirrhosis|                77|   m|               NA|                NA|                NA|            324.0|             254.0|             16.41|                NA|           1079.1|            650.9|               NA|
+-------+------------------+-------------+------------------+----+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+

In [15]:
df.describe(['Age']).show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|               615|
|   mean| 47.40813008130081|
| stddev|10.055105445519239|
|    min|                19|
|    max|                77|
+-------+------------------+

In [16]:
df.select('age').show(5)

+---+
|age|
+---+
| 32|
| 32|
| 32|
| 32|
| 32|
+---+
only showing top 5 rows

In [17]:
df.select(['age', 'category']).show(5)

+---+-------------+
|age|     category|
+---+-------------+
| 32|0=Blood Donor|
| 32|0=Blood Donor|
| 32|0=Blood Donor|
| 32|0=Blood Donor|
| 32|0=Blood Donor|
+---+-------------+
only showing top 5 rows

In [18]:
df.show(3)

+---+-------------+---+---+----+----+----+----+---+-----+----+-----+----+----+
|_c0|     Category|Age|Sex| ALB| ALP| ALT| AST|BIL|  CHE|CHOL| CREA| GGT|PROT|
+---+-------------+---+---+----+----+----+----+---+-----+----+-----+----+----+
|  1|0=Blood Donor| 32|  m|38.5|52.5| 7.7|22.1|7.5| 6.93|3.23|106.0|12.1|  69|
|  2|0=Blood Donor| 32|  m|38.5|70.3|  18|24.7|3.9|11.17| 4.8| 74.0|15.6|76.5|
|  3|0=Blood Donor| 32|  m|46.9|74.7|36.2|52.6|6.1| 8.84| 5.2| 86.0|33.2|79.3|
+---+-------------+---+---+----+----+----+----+---+-----+----+-----+----+----+
only showing top 3 rows

In [19]:
df.filter(df['Age'] == 25).show(5)

+---+-----------+---+---+---+----+----+-----+----+---+----+----+----+----+
|_c0|   Category|Age|Sex|ALB| ALP| ALT|  AST| BIL|CHE|CHOL|CREA| GGT|PROT|
+---+-----------+---+---+---+----+----+-----+----+---+----+----+----+----+
|544|1=Hepatitis| 25|  m| 42|38.2|63.3|187.7|14.0|6.0|4.28|66.9|40.2|70.5|
+---+-----------+---+---+---+----+----+-----+----+---+----+----+----+----+

In [20]:
df.where(df['sex'] == 'f').show(5)

+---+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
|_c0|     Category|Age|Sex| ALB| ALP| ALT| AST| BIL|  CHE|CHOL|CREA| GGT|PROT|
+---+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
|319|0=Blood Donor| 32|  f|39.9|35.2|  22|29.8| 6.3| 8.16|4.37|60.0| 4.5|72.5|
|320|0=Blood Donor| 32|  f|47.4|52.5|19.1|17.1| 4.6|10.19|  NA|63.0|23.0|72.2|
|321|0=Blood Donor| 32|  f|41.1|42.8|10.1|14.1|23.2| 6.08|3.75|53.0| 9.3|68.9|
|322|0=Blood Donor| 32|  f|43.5|66.2| 9.2|17.8| 5.7| 7.14|4.38|71.0|44.6|76.1|
|323|0=Blood Donor| 33|  f|  36|77.5|14.8|22.0| 4.4| 8.61|5.26|66.0|13.1|66.1|
+---+-------------+---+---+----+----+----+----+----+-----+----+----+----+----+
only showing top 5 rows

In [21]:
df.where(df['sex'] == 'f').select('Age', 'Sex', 'Category').show(7)

+---+---+-------------+
|Age|Sex|     Category|
+---+---+-------------+
| 32|  f|0=Blood Donor|
| 32|  f|0=Blood Donor|
| 32|  f|0=Blood Donor|
| 32|  f|0=Blood Donor|
| 33|  f|0=Blood Donor|
| 33|  f|0=Blood Donor|
| 33|  f|0=Blood Donor|
+---+---+-------------+
only showing top 7 rows

In [22]:
df.withColumn('Alb_by_10', df['ALB'] * 10).show(5)

+---+-------------+---+---+----+----+----+----+----+-----+----+-----+----+----+---------+
|_c0|     Category|Age|Sex| ALB| ALP| ALT| AST| BIL|  CHE|CHOL| CREA| GGT|PROT|Alb_by_10|
+---+-------------+---+---+----+----+----+----+----+-----+----+-----+----+----+---------+
|  1|0=Blood Donor| 32|  m|38.5|52.5| 7.7|22.1| 7.5| 6.93|3.23|106.0|12.1|  69|    385.0|
|  2|0=Blood Donor| 32|  m|38.5|70.3|  18|24.7| 3.9|11.17| 4.8| 74.0|15.6|76.5|    385.0|
|  3|0=Blood Donor| 32|  m|46.9|74.7|36.2|52.6| 6.1| 8.84| 5.2| 86.0|33.2|79.3|    469.0|
|  4|0=Blood Donor| 32|  m|43.2|  52|30.6|22.6|18.9| 7.33|4.74| 80.0|33.8|75.7|    432.0|
|  5|0=Blood Donor| 32|  m|39.2|74.1|32.6|24.8| 9.6| 9.15|4.32| 76.0|29.9|68.7|    392.0|
+---+-------------+---+---+----+----+----+----+----+-----+----+-----+----+----+---------+
only showing top 5 rows

In [23]:
df = df.drop('Alb_by_10')

In [24]:
df.groupBy('Category').count().show()

+--------------------+-----+
|            Category|count|
+--------------------+-----+
|       0=Blood Donor|  533|
|         3=Cirrhosis|   30|
|          2=Fibrosis|   21|
|0s=suspect Blood ...|    7|
|         1=Hepatitis|   24|
+--------------------+-----+

In [25]:
df.groupBy('Age').mean().show()

+---+------------------+--------+------------------+------------------+-----------------+-----------------+------------------+
|Age|          avg(_c0)|avg(Age)|          avg(AST)|          avg(BIL)|         avg(CHE)|        avg(CREA)|          avg(GGT)|
+---+------------------+--------+------------------+------------------+-----------------+-----------------+------------------+
| 65|            367.25|    65.0|           32.4625| 8.575000000000001|          7.84875|            74.25|              44.8|
| 53|            359.45|    53.0|26.305000000000007|7.9449999999999985|8.800500000000001|             81.1|53.029999999999994|
| 34|170.05263157894737|    34.0|27.426315789473687|  9.44736842105263|8.504736842105263|80.43684210526315|26.184210526315784|
| 76|             316.5|    76.0|             30.15|              11.2|            4.675|            108.5|             67.95|
| 27|             545.0|    27.0|              37.8|              10.0|             8.77|             55.2|              35.9|
| 44|            271.35|    44.0|             25.73| 7.874999999999998|           8.6435|           77.475|18.400000000000006|
| 47|            271.05|    47.0|            28.825|             8.985|7.671499999999999|            83.55|              50.2|
| 52|339.77272727272725|    52.0| 27.00909090909091| 7.904545454545455|8.782272727272728|80.05454545454546|35.699999999999996|
| 40|227.71428571428572|    40.0| 34.32857142857143| 9.985714285714286|8.089285714285714|84.35000000000001| 32.81428571428572|
| 57|          452.1875|    57.0|28.406250000000004|            8.4625|           8.6475|73.01875000000001|          29.21875|
| 54| 369.5833333333333|    54.0| 42.35833333333333|             9.025|             8.25|79.33333333333333| 42.61666666666667|
| 48|             332.5|    48.0|27.692857142857143|10.803571428571429|           8.3775|74.91785714285713|26.182142857142853|
| 19|             542.0|    19.0|              67.0|              12.0|             7.55|             62.0|              65.0|
| 64| 449.1111111111111|    64.0|38.388888888888886|15.766666666666664|7.342222222222222|71.30000000000001|              39.8|
| 41|          275.9375|    41.0|          31.36875|          21.88125|           7.5725|         74.86875|             40.55|
| 43|            240.45|    43.0|            33.355| 7.155000000000001|8.389999999999999|            77.25|            28.115|
| 37|             106.4|    37.0|             28.77|              9.43|8.093500000000002|             84.4|27.595000000000006|
| 61| 403.3333333333333|    61.0| 46.91111111111111| 9.533333333333333|8.165555555555557|73.35555555555555| 82.52222222222223|
| 35|210.04761904761904|    35.0| 25.81904761904762| 9.257142857142858|9.265714285714287|76.58095238095238|27.433333333333334|
| 55|             337.0|    55.0| 29.77142857142857| 4.814285714285714| 8.06642857142857|78.14285714285714|31.864285714285717|
+---+------------------+--------+------------------+------------------+-----------------+-----------------+------------------+
only showing top 20 rows

In [26]:
# df.groupBy('Category').agg('GGT', 'sum').show()

In [27]:
df.select('Category').distinct().show()

+--------------------+
|            Category|
+--------------------+
|       0=Blood Donor|
|         3=Cirrhosis|
|          2=Fibrosis|
|0s=suspect Blood ...|
|         1=Hepatitis|
+--------------------+

In [28]:
df.selectExpr('count(distinct(Category))').show()

+------------------------+
|count(DISTINCT Category)|
+------------------------+
|                       5|
+------------------------+

In [29]:
print(df.columns)

['_c0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT']

In [30]:
df.select('Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT', 'Category').show()

+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
|Age|Sex| ALB| ALP| ALT| AST| BIL|  CHE|CHOL| CREA| GGT|PROT|     Category|
+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
| 32|  m|38.5|52.5| 7.7|22.1| 7.5| 6.93|3.23|106.0|12.1|  69|0=Blood Donor|
| 32|  m|38.5|70.3|  18|24.7| 3.9|11.17| 4.8| 74.0|15.6|76.5|0=Blood Donor|
| 32|  m|46.9|74.7|36.2|52.6| 6.1| 8.84| 5.2| 86.0|33.2|79.3|0=Blood Donor|
| 32|  m|43.2|  52|30.6|22.6|18.9| 7.33|4.74| 80.0|33.8|75.7|0=Blood Donor|
| 32|  m|39.2|74.1|32.6|24.8| 9.6| 9.15|4.32| 76.0|29.9|68.7|0=Blood Donor|
| 32|  m|41.6|43.3|18.5|19.7|12.3| 9.92|6.05|111.0|91.0|  74|0=Blood Donor|
| 32|  m|46.3|41.3|17.5|17.8| 8.5| 7.01|4.79| 70.0|16.9|74.5|0=Blood Donor|
| 32|  m|42.2|41.9|35.8|31.1|16.1| 5.82| 4.6|109.0|21.5|67.1|0=Blood Donor|
| 32|  m|50.9|65.5|23.2|21.2| 6.9| 8.69| 4.1| 83.0|13.7|71.3|0=Blood Donor|
| 32|  m|42.4|86.3|20.3|20.0|35.2| 5.46|4.45| 81.0|15.9|69.9|0=Blood Donor|
| 32|  m|44.3|52.3|21.7|22.4|17.2| 4.15|3.57| 78.0|24.1|75.4|0=Blood Donor|
| 33|  m|46.4|68.2|10.3|20.0| 5.7| 7.36| 4.3| 79.0|18.7|68.6|0=Blood Donor|
| 33|  m|36.3|78.6|23.6|22.0| 7.0| 8.56|5.38| 78.0|19.4|68.7|0=Blood Donor|
| 33|  m|  39|51.7|15.9|24.0| 6.8| 6.46|3.38| 65.0| 7.0|70.4|0=Blood Donor|
| 33|  m|38.7|39.8|22.5|23.0| 4.1| 4.63|4.97| 63.0|15.2|71.9|0=Blood Donor|
| 33|  m|41.8|  65|33.1|38.0| 6.6| 8.83|4.43| 71.0|24.0|72.7|0=Blood Donor|
| 33|  m|40.9|  73|17.2|22.9|10.0| 6.98|5.22| 90.0|14.7|72.4|0=Blood Donor|
| 33|  m|45.2|88.3|32.4|31.2|10.1| 9.78|5.51|102.0|48.5|76.5|0=Blood Donor|
| 33|  m|36.6|57.1|38.9|40.3|24.9| 9.62| 5.5|112.0|27.6|69.3|0=Blood Donor|
| 33|  m|  42|63.1|32.6|34.9|11.2| 7.01|4.05|105.0|19.1|68.1|0=Blood Donor|
+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
only showing top 20 rows

In [31]:
df = df.select('Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT', 'Category')

In [32]:
(df.write.format('csv')
     .option('header', 'true')
     .option('infrSchema', 'true')
     .save('./data/new_hcvdata.csv'))

In [33]:
sqlc = SQLContext(sc)

In [34]:
df.registerTempTable('HCVTable')

In [35]:
sqlc.sql("SELECT * FROM HCVTable").show()

+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
|Age|Sex| ALB| ALP| ALT| AST| BIL|  CHE|CHOL| CREA| GGT|PROT|     Category|
+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
| 32|  m|38.5|52.5| 7.7|22.1| 7.5| 6.93|3.23|106.0|12.1|  69|0=Blood Donor|
| 32|  m|38.5|70.3|  18|24.7| 3.9|11.17| 4.8| 74.0|15.6|76.5|0=Blood Donor|
| 32|  m|46.9|74.7|36.2|52.6| 6.1| 8.84| 5.2| 86.0|33.2|79.3|0=Blood Donor|
| 32|  m|43.2|  52|30.6|22.6|18.9| 7.33|4.74| 80.0|33.8|75.7|0=Blood Donor|
| 32|  m|39.2|74.1|32.6|24.8| 9.6| 9.15|4.32| 76.0|29.9|68.7|0=Blood Donor|
| 32|  m|41.6|43.3|18.5|19.7|12.3| 9.92|6.05|111.0|91.0|  74|0=Blood Donor|
| 32|  m|46.3|41.3|17.5|17.8| 8.5| 7.01|4.79| 70.0|16.9|74.5|0=Blood Donor|
| 32|  m|42.2|41.9|35.8|31.1|16.1| 5.82| 4.6|109.0|21.5|67.1|0=Blood Donor|
| 32|  m|50.9|65.5|23.2|21.2| 6.9| 8.69| 4.1| 83.0|13.7|71.3|0=Blood Donor|
| 32|  m|42.4|86.3|20.3|20.0|35.2| 5.46|4.45| 81.0|15.9|69.9|0=Blood Donor|
| 32|  m|44.3|52.3|21.7|22.4|17.2| 4.15|3.57| 78.0|24.1|75.4|0=Blood Donor|
| 33|  m|46.4|68.2|10.3|20.0| 5.7| 7.36| 4.3| 79.0|18.7|68.6|0=Blood Donor|
| 33|  m|36.3|78.6|23.6|22.0| 7.0| 8.56|5.38| 78.0|19.4|68.7|0=Blood Donor|
| 33|  m|  39|51.7|15.9|24.0| 6.8| 6.46|3.38| 65.0| 7.0|70.4|0=Blood Donor|
| 33|  m|38.7|39.8|22.5|23.0| 4.1| 4.63|4.97| 63.0|15.2|71.9|0=Blood Donor|
| 33|  m|41.8|  65|33.1|38.0| 6.6| 8.83|4.43| 71.0|24.0|72.7|0=Blood Donor|
| 33|  m|40.9|  73|17.2|22.9|10.0| 6.98|5.22| 90.0|14.7|72.4|0=Blood Donor|
| 33|  m|45.2|88.3|32.4|31.2|10.1| 9.78|5.51|102.0|48.5|76.5|0=Blood Donor|
| 33|  m|36.6|57.1|38.9|40.3|24.9| 9.62| 5.5|112.0|27.6|69.3|0=Blood Donor|
| 33|  m|  42|63.1|32.6|34.9|11.2| 7.01|4.05|105.0|19.1|68.1|0=Blood Donor|
+---+---+----+----+----+----+----+-----+----+-----+----+----+-------------+
only showing top 20 rows